.frc-radio.ant-radio-wrapper {
  padding: 0 4px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $input-font-weight;
  font-family: $input-font-family;
  @include radio-style(
    // normal
    $radio-background,
    $radio-color,
    $radio-border,
    $radio-background-icon,
    $radio-border-icon,
    // hover
    $radio-background-hover,
    $radio-color-hover,
    $radio-border-hover,
    $radio-background-hover-icon,
    $radio-border-hover-icon,
    // active
    $radio-background-active,
    $radio-color-active,
    $radio-border-active,
    $radio-background-active-icon,
    $radio-border-active-icon,
    // focus
    $radio-background-focus,
    $radio-color-focus,
    $radio-border-focus,
    $radio-background-focus-icon,
    $radio-border-focus-icon,
    // disabled
    $radio-background-disabled,
    $radio-color-disabled,
    $radio-border-disabled,
    $radio-background-disabled-icon,
    $radio-border-disabled-icon,
    // disabled - inner
    $radio-background-disabled-icon-inner
  );
  .ant-radio {
    top: 0;
    .ant-radio-input {
      display: none;
    }
    // icon
    .ant-radio-inner {
      &::after {
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-left: -4px;
      }
    }
  }
  span.ant-radio + * {
    padding-right: 3px;
    padding-left: 4px;
  }
}

.frc-radio-group.ant-radio-group {
  &.ant-radio-group-solid {
    background: transparent;
    border: 1px solid $basic-btn;
    border-radius: 2px;
    .ant-radio-button-wrapper {
      height: auto;
      line-height: 22px;
      border: none;
      background: transparent;
      font-size: 12px;
      border-radius: 0px;
      &::before {
        opacity: 0;
      }

      .ant-radio-button-checked {
        .ant-radio-button-input {
          display: none;
        }
      }

      @include radio-group-style(
        // normal
        $radio-solid-background,
        $radio-solid-color,
        $radio-solid-border,
        // hover
        $radio-solid-background-hover,
        $radio-solid-color-hover,
        $radio-solid-border-hover,
        // active
        $radio-solid-background-active,
        $radio-solid-color-active,
        $radio-solid-border-active,
        // focus
        $radio-solid-background-focus,
        $radio-solid-color-focus,
        $radio-solid-border-focus,
        // disabled
        $radio-solid-background-disabled,
        $radio-solid-color-disabled,
        $radio-solid-border-disabled,
        $radio-solid-background-disabled-checked
      );
    }
  }
}
