.frc-input.ant-input,
.frc-input.ant-input-affix-wrapper,
.frc-input.ant-input-search {
  width: 120px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  // display: inline-block;
  line-height: $input-line-height;
  font-weight: $input-font-weight;
  font-family: $input-font-family;
  @include input-size(
    $input-padding-y,
    $input-padding-x,
    $input-font-size,
    $input-border-radius
  );
  @include input-style(
    // normal
    $input-background,
    $input-color,
    $input-border,
    // hover
    $input-background-hover,
    $input-color,
    $input-border,
    // focus
    $input-background-hover,
    $input-color-focus,
    $input-border-focus,
    // disabled
    $input-background-disabled,
    $input-color-disabled,
    $input-border-disabled
  );
  // children: 复数
  .ant-input {
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    font-family: $input-font-family;
    color: $input-color;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &:focus {
      color: $input-color-focus;
      outline: 0;
    }
  }
}

// icon-only
.frc-input.frc-input-icon-only {
  @include input-style(
    // normal
    $input-background-icon-only,
    $input-color-icon-only,
    $input-border-icon-only,
    // hover
    $input-background-icon-only-hover,
    $input-color-icon-only-hover,
    $input-border-icon-only-hover,
    // focus
    $input-background-icon-only-focus,
    $input-color-icon-only-focus,
    $input-border-icon-only-focus,
    // disabled
    $input-background-icon-only-disabled,
    $input-color-icon-only-disabled,
    $input-border-icon-only-disabled
  );
  max-width: 26px;
  .ant-input-clear-icon {
    display: none;
  }
  &.ant-input-affix-wrapper-focused {
    max-width: 120px;
    .ant-input-clear-icon {
      display: inline-block;
    }
  }
  &.disabled,
  &[disabled] {
    cursor: not-allowed !important;
  }
}

// search input
.frc-input.ant-input-search {
  padding-left: 0;
  padding-right: 0;
  @include input-style(
    // normal
    $input-search-background,
    $input-search-color,
    $input-search-border,
    // hover
    $input-search-background-hover,
    $input-search-color-hover,
    $input-search-border-hover,
    // focus
    $input-search-background-focus,
    $input-search-color-focus,
    $input-search-border-focus,
    // disabled
    $input-search-background-disabled,
    $input-search-color-disabled,
    $input-search-border-disabled
  );

  // inner input -> style clear
  .ant-input-affix-wrapper {
    padding: 0 6px;
    line-height: 20px;
    font-weight: $input-font-weight;
    font-family: $input-font-family;
    @include input-style(
      // normal
      transparent,
      $input-color,
      1px solid transparent,
      // hover
      transparent,
      $input-color,
      1px solid transparent,
      // focus
      transparent,
      $input-color-focus,
      $input-border-focus,
      // disabled
      $input-background-disabled,
      $input-color-disabled,
      1px solid transparent
    );
    // .ant-input-suffix {
    //   & .ant-input-clear-icon {
    //     & svg {
    //       display: none;
    //     }
    //     &::after {
    //       content: url('../../../public/search.svg')
    //     }
    //   }
    // }
  }
  .ant-input-affix-wrapper-focused {
    box-shadow: none;
  }
  // search btn box
  .ant-input-group-addon {
    background-color: transparent;
    left: 0 !important;
    // search btn
    .ant-input-search-button {
      border-radius: 0 !important;
      height: $line-height-border;
      background: $basic-btn;
      border: 1px solid transparent !important;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 5px;
      font-size: 12px;
      line-height: 0;
      color: $words-disable;
    }
    
  }

  .ant-input-affix-wrapper-disabled + .ant-input-group-addon {
    .ant-input-search-button {
      color: $input-search-color-disabled;
      background: $input-search-background-disabled;
    }
  }
}

// ----------------------------------------------------------------

// loading
.frc-input-search-loading {
  .ant-btn-loading.ant-input-search-button::before,
  .ant-btn-loading.ant-input-search-button {
    background: $input-search-background-hover;
    color: $tittle-word !important;
    cursor: pointer;
  }
  .ant-input-affix-wrapper-disabled + .ant-input-group-addon {
    .ant-input-search-button {
      cursor: not-allowed !important;
      background: $input-search-background-disabled !important;
    }
  }
}

// no border
.frc-input.frc-input-no-border {
  // border: none !important;
  line-height: $line-height-base;
  @include input-style(
    // normal
    $input-background,
    $input-color,
    none,
    // hover
    $input-background-hover,
    $input-color,
    none,
    // focus
    $input-background-hover,
    $input-border-focus,
    none,
    // disabled
    $input-background-disabled,
    $input-color-disabled,
    none
  );
}

// 后 icon
.ant-input-suffix {
  z-index: 10000;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  right: 6px;
}

// normal working
.frc-input-enter {
  color: $words-normal !important;
  .ant-input {
    color: $words-normal !important;
  }
  &:focus {
    color: $input-color-focus !important;
  }
}

// search working
.frc-input-prefix.frc-input-enter,
.ant-input-search.frc-input-enter {
  .ant-input {
    color: $input-color-focus !important;
  }
  .ant-input-search-button {
    color: #ffebc8 !important;
  }
}

.frc-input-search-focus {
  border: $input-border-focus;
}
