.frc-input.ant-input,
.frc-input.ant-input-affix-wrapper {
  width: 120px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  // display: inline-block;
  line-height: $input-line-height;
  font-weight: $input-font-weight;
  font-family: $input-font-family;
  @include input-size(
    $input-padding-y,
    $input-padding-x,
    $input-font-size,
    $input-border-radius
  );
  @include input-style(
    // normal
    $input-background,
    $input-color,
    $input-border,
    // hover
    $input-background-hover,
    $input-color,
    $input-border,
    // focus
    $input-background-hover,
    $input-color-focus,
    $input-border-focus,
    // disabled
    $input-background-disabled,
    $input-color-disabled,
    $input-border-disabled
  );
  // children: 复数
  .ant-input {
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    font-family: $input-font-family;
    color: $input-color;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &:focus {
      color: $input-color-focus;
      outline: 0;
    }
  }
}

// no border
.frc-input.frc-input-no-border {
  // border: none !important;
  line-height: $line-height-base;
  @include input-style(
    // normal
    $input-background,
    $input-color,
    none,
    // hover
    $input-background-hover,
    $input-color,
    none,
    // focus
    $input-background-hover,
    $input-border-focus,
    none,
    // disabled
    $input-background-disabled,
    $input-color-disabled,
    none
  );
}

// 后 icon
.ant-input-suffix {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  right: 6px;
}

// normal working
.frc-input-enter {
  color: $words-normal !important;
  .ant-input {
    color: $words-normal !important;
  }
  &:focus {
    color: $input-color-focus !important;
  }
}

// search working
.frc-input-prefix.frc-input-enter {
  .ant-input {
    color: $input-color-focus !important;
  }
}

.frc-input-search-focus {
  border: $input-border-focus;
}

// icon-only
.frc-input.frc-input-icon-only {
  @include input-style(
    // normal
    $input-background-icon-only,
    $input-color-icon-only,
    $input-border-icon-only,
    // hover
    $input-background-icon-only-hover,
    $input-color-icon-only-hover,
    $input-border-icon-only-hover,
    // focus
    $input-background-icon-only-focus,
    $input-color-icon-only-focus,
    $input-border-icon-only-focus,
    // disabled
    $input-background-icon-only-disabled,
    $input-color-icon-only-disabled,
    $input-border-icon-only-disabled
  );
  max-width: 26px;
  .ant-input-clear-icon {
    display: none;
  }
  &.ant-input-affix-wrapper-focused {
    max-width: 120px;
    .ant-input-clear-icon {
      display: inline-block;
    }
  }
}

// clear-icon-active
.frc-input-active-clear.frc-input-enter {
  color: $input-color !important;
  &.frc-input-icon-only {
    color: $input-color-icon-only !important;
  }
}
