.btn {
  min-width: 120px;
  min-height: 24px;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  border: none;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $border-radius
  );

  @include button-style(
    linear-gradient($btn-background-normal-top, $btn-background-normal-bottom),
    $words-normal,
    $btn-background-hover,
    $words-normal,
    $btn-background-active
  );

  cursor: pointer;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    background: #253330;
    color: $words-disable;
  }

  &.btn-work-default {
    color: $words-high-light;
    background: linear-gradient(
      $btn-background-normal-top,
      $btn-background-normal-bottom
    );
  }
}

// .btn-primary {
//   @include button-style($primary, $primary, $white);
// }

// .btn-danger {
//   @include button-style($danger, $danger, $white);
// }

// .btn-default {
//   @include button-style(
//     $white,
//     $gray-400,
//     $body-color,
//     $white,
//     $primary,
//     $primary
//   );
// }

// .btn-link {
//   font-weight: $font-weight-normal;
//   color: $btn-link-color;
//   text-decoration: $link-decoration;
//   box-shadow: none;
//   // :hover
//   &:hover {
//     color: $btn-link-hover-color;
//     text-decoration: $link-hover-decoration;
//   }
//   // :foucus
//   &:focus,
//   &.focus {
//     text-decoration: $link-hover-decoration;
//     box-shadow: none;
//   }
//   // :disabled .disabled
//   &:disabled,
//   &.disabled {
//     color: $btn-link-disabled-color;
//     pointer-events: none;
//   }
// }
