// button
@mixin button-size($padding-y, $padding-x, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}

@mixin button-style(
  $background,
  $color,
  $hover-background,
  $hover-color,
  $active-background,
  $active-color,
  $disable-background,
  $disable-color
) {
  color: $color;
  background: $background;
  &:hover {
    color: $hover-color;
    background: $hover-background;
  }
  &:active,
  &.active {
    color: $active-color !important;
    background: $active-background !important;
  }
  &:focus {
    color: $color;
    background: $background;
  }
  &:disabled,
  &.disabled {
    color: $disable-color !important;
    background: $disable-background !important;
  }
}

// ----------------------------------------------------------------

// input
@mixin input-size($padding-y, $padding-x, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}

@mixin input-style(
  // normal
  $background,
  $color,
  $border,
  // hover
  $hover-background,
  $hover-color,
  $hover-border,
  // focus
  $focus-background,
  $focus-color,
  $focus-border,
  // disabled
  $disabled-background,
  $disabled-color,
  $disabled-border
) {
  // input-style - normal ---------------------------------------------------------

  background: $background;
  color: $color;
  border: $border;
  // normal style -> link clear icon style
  .anticon.ant-input-clear-icon-has-suffix,
  &.anticon.ant-input-clear-icon-has-suffix,
  .anticon.ant-input-clear-icon {
    color: $color;
    font-size: 10px;
  }

  // placeholder style
  &::-webkit-input-placeholder {
    color: $color;
  }
  ::-webkit-input-placeholder {
    color: $color;
  }

  // input-style - hover ---------------------------------------------------------

  &:hover {
    color: $hover-color;
    background: $hover-background;
    border: $hover-border !important;

    // hover input -> link icon hover
    .anticon.ant-input-clear-icon-has-suffix,
    &.anticon.ant-input-clear-icon-has-suffix,
    .anticon.ant-input-clear-icon,
    .ant-input-group-addon .ant-input-search-button {
      color: $hover-color;
    }
  }

  // input-style - focus ---------------------------------------------------------

  &.ant-input-affix-wrapper-focused,
  &.frc-input-active-start,
  &:focus {
    // focus input -> link icon active
    .anticon.ant-input-clear-icon-has-suffix,
    &.anticon.ant-input-clear-icon-has-suffix,
    .anticon.ant-input-clear-icon,
    .ant-input-prefix,
    .ant-input-suffix,
    .ant-input-affix-wrapper-focused
      + .ant-input-group-addon
      .ant-input-search-button {
      color: $words-normal !important;
    }
    border: $focus-border !important;
    color: $focus-color;
    outline: 0;
  }

  // input-style - disabled ---------------------------------------------------------

  &.ant-input-affix-wrapper-disabled,
  .ant-input-search .ant-input-affix-wrapper-disabled,
  &.disabled,
  &[disabled] {
    .ant-input {
      cursor: not-allowed !important;
    }
    cursor: not-allowed !important;
    color: $disabled-color !important;
    background: $disabled-background !important;
    border: $disabled-border !important;
    // follow
    &::-webkit-input-placeholder {
      color: $disabled-color;
    }
    // deep
    ::-webkit-input-placeholder {
      color: $disabled-color;
    }
  }
}
