// primary
$basic-background:          #060707 !default;
$element-background:        #0c0f0e !default;
$basic-plate:               #101414 !default;
$part-plate:                #1e2423 !default;
$basic-btn:                 #253330 !default;
$btn-hover:                 #0a2420 !default;
$tittle-word:               #136c5e !default;
// 渐变色
$button:                    #252b23 !default;
$high-light-area-top:       #F38A00 !default;
$high-light-area-bottom:    #F9C152 !default;
$new-data:                  #241F0C !default;

// ----------------------------------------------------------------

// words color
$words-normal:       #FFEBC8 !default;
$words-high-light:   #F9C152 !default;
$words-supporting:   #8F9598 !default;
$words-disable:      #4A4D4C !default;
$words-title:        #136C5E !default;
$words-black:        #000000 !default;


// ----------------------------------------------------------------

// UP
$up-01: #181110 !default;
$up-02: #241411 !default;
$up-03: #301613 !default;
$up-04: #3c1915 !default;
$up-05: #481c17 !default;
$up-06: #551e18 !default;
$up-07: #60201b !default;
$up-08: #6d241c !default;
$up-09: #79261e !default;
$up-10: #852920 !default;

//DOWN
$down-01: #0b1712 !default;
$down-02: #0a1f16 !default;
$down-03: #0a271a !default;
$down-04: #09301f !default;
$down-05: #083823 !default;
$down-06: #084027 !default;
$down-07: #07482c !default;
$down-08: #075130 !default;
$down-09: #065934 !default;
$down-10: #056238 !default;

// ----------------------------------------------------------------

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #fadb14 !default;
$green:   #52c41a !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// ----------------------------------------------------------------

// 字体大小
$font-size-base:              12px !default; 
$font-size-max:               32px !default;
$font-size-lg:                24px !default;
$font-size-medium:            16px !default;
$font-size-sm:                10px !default;
$font-size-root:              null !default;

// ----------------------------------------------------------------

// 字体
$font-family-sans-serif:      Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base:            $font-family-sans-serif !default;

// ----------------------------------------------------------------

// 字重
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
$font-weight-base:            500 !default;

// ----------------------------------------------------------------

// 行高
$line-height-base:            24px !default;
$line-height-lg:              32px !default;
$line-height-sm:              16px !default;

// ----------------------------------------------------------------

// 链接
$link-color:                              $words-normal !default;
$link-hover-color:                        $words-high-light !default;
$link-pressed-color:                      $words-high-light !default;
$link-disable-color:                      $words-disable !default;

$link-decoration-none:                    none !default;
$link-decoration:                         underline !default;
$link-hover-decoration:                   underline !default;

// ----------------------------------------------------------------

// body
$body-bg:                   $basic-background !default;
$body-color:                $words-normal !default;
$body-text-align:           null !default;

// ----------------------------------------------------------------

// 边框 和 border radius

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               2px !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

// ----------------------------------------------------------------

// Spacing
// $spacer: 1rem !default;

// ----------------------------------------------------------------

// button
// 按钮
// 按钮基本属性
$btn-font-weight:             $font-weight-base;
$btn-padding-y:               0px !default;
$btn-padding-x:               6px !default;
$btn-font-family:             $font-family-base !default;
$btn-font-size:               $font-size-base !default;
$btn-line-height:             $line-height-base !default;

// 按钮颜色

// ----------------------------------------------------------------

// type - normal
$btn-background-normal-top:      #213D38 !default;
$btn-background-normal-bottom:   #18302C !default;

// hover
$btn-background-hover:           #0A2420 !default;

// active
$btn-background-active:          #1E2423 !default;

// ----------------------------------------------------------------

// type - primary
$btn-background-primary:         #253330 !default;

// hover
$btn-background-primary-hover:   $btn-background-hover !default;

// active
$btn-background-primary-active:  $btn-background-active !default;

// ----------------------------------------------------------------

// type - lead
$btn-padding-lead-y:               0px !default;
$btn-padding-lead-left:            9px !default;
$btn-padding-lead-right:           2px !default;

// ----------------------------------------------------------------

// type - gray
$btn-background-gray:         #4A4D4C !default;

// hover
$btn-background-gray-hover:   #1E1E1E !default;

// active
$btn-background-gray-active:  #1E2423  !default;

// ----------------------------------------------------------------

// 按钮边框
$btn-border-width:               $border-width !default;

// ----------------------------------------------------------------

// type - gray
$btn-background-link:         transparent !default;

// hover
$btn-background-link-hover:   transparent !default;

// active
$btn-background-link-active:  transparent  !default;

// ----------------------------------------------------------------

// ----------------------------------------------------------------

// ----------------------------------------------------------------

//input

$input-padding-y:                          0px !default;
$input-padding-x:                          6px !default;
$input-font-family:                        $font-family-base !default;
$input-font-size:                          $font-size-base !default;
$input-font-weight:                        500 !default;
$input-line-height:                        22px !default;
$input-border-radius:                      $border-radius !default;

$input-background:                         #0C0F0E !default;
$input-color:                              $words-supporting !default;
$input-border:                             1px solid $basic-btn !default;

$input-background-hover:                   $btn-hover !default;

$input-color-focus:                        $words-high-light !default;
$input-border-focus:                       1px solid $words-high-light !default;

$input-background-disabled:                $input-background !default;
$input-color-disabled:                     $words-disable !default;
$input-border-disabled:                    $input-border !default;

// icon-only
// normal
$input-background-icon-only:               transparent !default;
$input-color-icon-only:                    $words-normal !default;
$input-border-icon-only:                   1px solid transparent !default;
// hover
$input-background-icon-only-hover:         $input-background-hover !default;
$input-color-icon-only-hover:              $words-normal !default;
$input-border-icon-only-hover:             1px solid $input-background-hover !default;
// focus
$input-background-icon-only-focus:         $input-background !default;
$input-color-icon-only-focus:              $input-color-focus !default;
$input-border-icon-only-focus:             1px solid $input-color-focus !default;
// disabled
$input-background-icon-only-disabled:      $input-background-icon-only !default;
$input-color-icon-only-disabled:           $input-color-disabled !default;
$input-border-icon-only-disabled:          1px solid transparent !default;

// ----------------------------------------------------------------

// search - input
// normal
$input-search-background:               $element-background !default;
$input-search-color:                    $words-supporting !default;
$input-search-border:                   1px solid $basic-btn !default;
// hover
$input-search-background-hover:         #0A2420 !default;
$input-search-color-hover:              $words-supporting !default;
$input-search-border-hover:             1px solid $basic-btn !default;
// focus
$input-search-background-focus:         $element-background !default;
$input-search-color-focus:              $words-high-light !default;
$input-search-border-focus:             1px solid $words-high-light !default;
// disabled
$input-search-background-disabled:      $basic-btn !default;
$input-search-color-disabled:           $words-disable !default;
$input-search-border-disabled:          1px solid $basic-btn !default;

// ----------------------------------------------------------------

