.frc-select-container {
  display: inline-block;
  vertical-align: top;
}

.frc-select.ant-select {
  @include input-number-style(
    // normal
    $select-background,
    $select-color,
    $select-border,
    // hover
    $select-background,
    $select-color-hover,
    $select-border-hover,
    // focus
    $select-background-focus,
    $select-color-focus,
    $select-border-focus,
    // disabled
    $select-background-disabled,
    $select-color-disabled,
    $select-border-disabled
  );
  line-height: $select-line-height;
  font-size: $select-font-size;
  border-radius: $select-radius;
  input {
    height: auto !important;
  }
  .ant-select-selector {
    padding: $select-padding;
    .ant-select-selection-search {
      left: 4px;
    }
  }
  .ant-select-selection-placeholder {
    color: $words-supporting;
  }
  .ant-select-selector,
  .ant-select-selector::after,
  .ant-select-selector .ant-select-selection-item,
  .ant-select-selection-placeholder {
    border: none;
    line-height: $line-height-border;
    height: auto;
    background-color: transparent;
    box-shadow: none !important;
  }
  .ant-select-arrow {
    color: $select-color;
    right: 6px;
  }
  .ant-select-clear {
    color: $words-normal;
    right: 3px;
    top: auto;
    bottom: 3px;
    background: $basic-btn;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    &:hover {
      background: $btn-hover;
    }
  }
  .ant-select-selection-item {
    font-weight: $select-font-weight;
  }
  &.ant-select-open {
    .ant-select-arrow {
      transform: rotate(180deg);
    }
    &.ant-select-show-search {
      .ant-select-arrow {
        transform: rotate(0deg);
      }
    }
  }
}

// select-dropdown
.frc-select.ant-select-dropdown {
  background-color: $select-background;
  border: 1px solid $select-background-hover;
  // item
  .ant-select-item {
    color: $select-color;
    font-size: $font-size-base;
    line-height: $line-height-base;
    min-height: 0;
    padding: 0 8px;
    font-weight: $select-font-weight;
  }
  // prve active
  .ant-select-item-option-selected {
    background-color: transparent;
    color: $words-high-light !important;
    .ant-select-item-option-state {
      color: $words-high-light !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  // now active
  .ant-select-item-option-active {
    background-color: $select-background-hover;
  }
  // scrollbar
  .rc-virtual-list-scrollbar {
    width: 4px !important;
    .rc-virtual-list-scrollbar-thumb {
      background-color: $basic-btn !important;
    }
  }
  &.frc-select-remove-selected-icon {
    .ant-select-item-option-state {
      display: none !important;
    }
  }
  // group
  .ant-select-item-group {
    padding-top: 8px;
    &::before {
      content: '';
      position: absolute;
      border-color: #253330;
      border-top-style: solid;
      border-width: 1px;
      height: 0;
      top: 1.3em;
      left: 4px;
      margin-top: -1em;
      transform: rotate(0deg);
      width: calc(100% - 8px);
    }
    // clear first group border top
    &:nth-child(1) {
      padding-top: 0;
      &::before {
        display: none;
      }
    }
  }
}

// prefix select
.frc-select.frc-select-prefix {
  position: relative;
  line-height: $line-height-base;
  // icon
  .frc-select-prefix-wrapper {
    z-index: 10;
    display: flex;
    height: 22px;
    width: 20px;
    justify-content: center;
    align-items: center;
    cursor: default;
    color: $words-normal;
    position: absolute;
    left: 1px;
    top: 0px;
  }
  // single
  &.ant-select-single {
    .ant-select-selector {
      padding-left: 22px;
      .ant-select-selection-search {
        left: 20px;
      }
    }
  }
  // multiple
  &.ant-select-multiple {
    .ant-select-selector {
      padding-left: 22px;
      .ant-select-selection-placeholder {
        padding-left: 22px;
      }
    }
  }
  &.frc-select-prefix-icon-disabled {
    .frc-select-prefix-wrapper {
      color: $words-disable;
      cursor: not-allowed;
    }
  }
}

// multiple select
.frc-select.ant-select.ant-select-multiple {
  &:hover {
    background-color: $select-background;
  }
  .ant-select-selection-search,
  .ant-select-selector::after {
    margin-top: 0;
    margin-bottom: 0;
    margin-inline-start: 0;
  }
  .ant-select-selection-search-mirror,
  .ant-select-selection-search-input {
    height: auto;
    line-height: 1em;
  }
  .ant-select-selector {
    .ant-select-selection-search {
      left: 0px;
    }
    .ant-select-selection-item {
      padding-inline-end: 0;
      line-height: 16px;
      background-color: $part-plate;
      .ant-select-selection-item-remove {
        color: $words-normal;
        width: 20px;
        .anticon-close {
          vertical-align: 0;
          font-size: 8px;
        }
        &:hover {
          background-color: $select-background-hover;
        }
      }
    }
  }
  .ant-select-arrow {
    right: 6px;
    top: auto;
    bottom: 6px;
  }
  .ant-select-selection-placeholder {
    left: 0;
    padding-left: 4px;
  }
}
